*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Amatic SC', cursive;

}

.main{
    background-image: url(/web/img/pizzaria-tamanhogigante.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 970px;
    width: 100%;
    max-width: 100%;
}
.main-menu{
    height: 50px;
    background-color: rgba(19, 23, 32, 0.835);
    margin: auto;
    width: 100%;
    max-width: 100%;
    position: fixed;
}
.center{
    display: flex;
    height: 50px;
    width: 1200px;
    max-width: 100%;
    background-color: blueviolet;
    margin: 0 auto;
}
.menu{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
}
.main-menu:hover{
    background-color: rgb(19, 23, 32);
}
.logo{
    width: 30%;
    color: white;
    background-color: rgb(0, 255, 200);
}

.itens-menu{
    width: 70%;
    background-color: rgb(148, 59, 118);
    text-align: right;
}

.itens-menu a{
    text-decoration: none;
    color: white;
}